---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import FormattedDate from "../../components/FormattedDate.astro"

const posts = (await getCollection("news")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<Layout title="News" description="Recent news about MMP">
  <ul class="flex flex-col items-start gap-6">
    {
      posts.map((post) => (
        <li class="flex items-start self-stretch gap-4">
          <p class="text-neutral-500">
            <FormattedDate date={post.data.pubDate} />
          </p>
          <a href={`/news/${post.slug}/`}>
            <img width={720} height={360} src={post.data.heroImage} alt="" />
          </a>
          <a href={`/news/${post.slug}/`}>
            <h3 class="title">{post.data.title}</h3>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
