---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import FormattedDate from "../../components/FormattedDate.astro"

const posts = (await getCollection("news")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<Layout title="News" description="Recent news about MMP">
  <ul class="flex flex-col items-start gap-6">
    {
      posts.map((post) => (
        <li class="flex gap-10">
          <p class="flex-none md:w-40 text-sm text-neutral-500">
            <FormattedDate date={post.data.pubDate} />
          </p>
          <a class="relative hidden w-80 h-72 flex-none md:block" href={`/news/${post.slug}/`}>
            <img class="object-cover h-full w-full" src={post.data.heroImage} alt="" />
          </a>
          <div class="grow space-y-1">
            <a href={`/news/${post.slug}/`}>
              <h3 class="font-medium underline">{post.data.title}</h3>
            </a>
            <p>{post.data.description}</p>
          </div>
        </li>
      ))
    }
  </ul>
</Layout>
