---
import Card from "./Card"
const { color, title, people } = Astro.props

interface PersonProps {
  data: {
    title: string
    name: string
    avatar?: string
    institution: string
  }
}
---

<div class="flex items-start gap-12">
  <h2 class={`${color} [writing-mode:vertical-lr] rotate-180`}>{title}</h2>
  <div class="flex flex-col gap-20 flex-1">
    {
      people.map((person: PersonProps, i: number) => {
        return (
          <>
            <Card
              client:load
              position={i}
              title={person.data.title}
              name={person.data.name}
              image={person.data.avatar}
              institution={person.data.institution}
            />
          </>
        )
      })
    }
  </div>
</div>
