---
import { SITE_TITLE, LINKS } from "../consts"
import HeaderLink from "./HeaderLink.astro"

const { isHidden = true } = Astro.props
const pathname = Astro.url.pathname
---
<script>
  class NavbarHamburger extends HTMLElement {
    constructor() {
      super()

      let isHidden = true
      const button = this.querySelector("button")
      const menuElement: HTMLElement = document.getElementById("menu-body")!
      button?.addEventListener("click", () => {
        isHidden = !isHidden
        if (isHidden) {
          menuElement.style.display = "none"
        } else {
          menuElement.style.display = "inherit"
        }
      })
    }
  }

  customElements.define("navbar-hamburger", NavbarHamburger)

</script>

<header class="flex justify-between items-center h-5 pt-16 pb-48">
  <h2><a class={`no-underline ${pathname !== "/" ? `hover:text-gray-600` : "hidden"}`} href="/">{SITE_TITLE}</a></h2>
  <nav class="py-8 uppercase text-sm">
    <div class="hidden lg:flex lg:gap-8">
      {
        LINKS.map((data) =>
          <HeaderLink href=`/${data}`
                      class="text-base text-neutral-500 active:text-neutral-900"
          >{data.toUpperCase().replace("-", " ")}</HeaderLink>)
      }
    </div>
    <!--hamburger-->
    <navbar-hamburger class="lg:hidden max-w-screen-xl flex flex-wrap items-center justify-between p-2">
      <button
        class="items-center justify-center p-2 w-10 h-10 text-sm text-neutral-900 rounded-lg focus:outline-none hover:bg-opacity-0 hover:shadow-none">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>

    </navbar-hamburger>
    <div id="menu-body" data-hidden={isHidden} class="hidden">
      <ul class="flex flex-col items-end bg-neutral-50 font-medium mt-4 absolute top-16 right-0 md:right-14">
        {
          LINKS.map((data) =>
            <HeaderLink href=`/${data}`
                        class="text-base pt-2.5 px-4 text-neutral-500 hover:text-gray-600 active:text-neutral-900"
            >{data.toUpperCase()}</HeaderLink>)
        }
      </ul>
    </div>
  </nav>

</header>